.titlecontainer{
	position: relative;
	text-align: center;
}

body{
font-family: 'Raleway', sans-serif;
font-size: 1.1rem;
}

.closer{
position: relative;
top:20px;

}

.help{
	padding: 50px 50px 50px 50px;
	box-shadow: rgba(0, 0, 0, 0.45) 0px 15px 50px -40px;
}


.napoli{

	background-color: #a82c34 !important;
}
.bilkent{

	background-color: #1f4fa2 !important;
}

.title{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%)
}

a{
	margin-bottom: 10px;
}
.btn {
    text-transform: unset !important;
}

.btn-small{
	font-size: 0.7rem !important;
	padding: 0px 5px 0px 5px !important;
}




footer {
  position: fixed;
  bottom: 0;
  width: 100%; 
  padding: 10px 10px 10px 10px !important;
  border: 0px solid black;
  border-top-width: 0px;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 50px 15px;
  border-radius: 20px 20px 0px 0px;
}

.collapsible-body{
	padding: 0px !important;
}
